
<html>
 <head>
  <html lang="ja">
  <meta charset="UTF-8" />
  <link rel="stylesheet" media="all" href="application.css">
 </head>


 <body>

   <% if flash[:notice] %>
    <p id="notice">
      <%= flash[:notice] %>
    </p>
   <% end %>

  <p><strong>Title:</strong>
  <%= @book.title %></p>

  <p><strong>Body:</strong>
  <%= @book.body %></p>

  <%= link_to "Edit", "/books/#{@book.id}/edit" %>
  |
  <%= link_to "Back", "https://39c1d26474174bfaa6f0951532846c08.vfs.cloud9.ap-northeast-1.amazonaws.com/books" %>

 </body>
</html>
